{
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "bracketSameLine": true,
    "overrides": [
        {
            "files": ["*.json", "*.cjs"],
            "options": {
                "trailingComma:": "none",
                "singleQuote": false,
                "tabWidth": 2,
                "quoteProps": "preserve"

            }
        }
    ]
}
